aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comtypes
confection
contourpy
cycler
cymem
dataclasses-json
distro
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
fastapi
filelock
filetype
Flask
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
jellyfish
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kagglehub
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langsmith
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
multidict
murmurhash
mypy-extensions
narwhals
networkx
nltk
numpy
openai
orjson
outcome
packaging
pandas
pillow
playwright
preshed
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
PyMuPDF
pyparsing
PyPDF2
pypiwin32
PySocks
python-dateutil
python-docx
python-dotenv
python-multipart
pyttsx3
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
segtok
selenium
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
spacy-lookups-data
SpeechRecognition
SQLAlchemy
srsly
starlette
streamlit
streamlit-option-menu
sympy
tabulate
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
trio
trio-websocket
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
watchdog
weasel
webdriver-manager
websocket-client
Werkzeug
wrapt
wsproto
yake
yarl
zstandard
